.App {
  text-align: center;
}

.first {
  visibility: hidden;
  animation: diceAnimation forwards;
  animation-delay: 2s;
}

/* animation: animation name animation duration animation direction */
.second {
  visibility: hidden;
  animation: diceAnimation forwards;
  animation-delay: 4s;
}
.third {
  visibility: hidden;
  animation: diceAnimation forwards;
  animation-delay: 6s;
}

@keyframes diceAnimation {
  from { visibility: hidden; }
  to {visibility: visible}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
